@use 'assets/styles/base';

body {
  padding-bottom: 80px;
  background-color: #f7f3ea;
}

.container {
  width: 620px;
  margin: 0 auto;
}

.title {
  margin: 30px 0;
  color: #000;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
}

.body {
  display: flex;
  justify-content: space-between;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  margin-top: 40px;
}

.tab {
  margin-bottom: 20px;
}

.panel {
  width: 400px;
}

.reset {
  margin-top: 12px;
  color: #a6a6a6;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: #7d7d7d;
  }
}

.modalBody {
  color: #000;
  font-size: 16px;
  line-height: 40px;
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .cancel,
  .confirm {
    width: 80px;
  }

  .confirm {
    margin-left: 24px;
  }
}
