.confirmInput {
  margin: 28px 0;
}

.tips {
  margin-bottom: 12px;
  color: #c4c4c4;
  font-size: 16px;
  line-height: 22px;
}

.link {
  color: #dec194;
}

.guide {
  height: 202px;
  background: #ddd;
  border-radius: 10px;
}
