/* Theme Color */
/* stylelint-disable */
:root {
  --webpilot-theme-main-text-color: #929497;
  --webpilot-theme-icon-default-and-secondary-text: #585b58;
  --webpilot-theme-main-background-color: #fff;
  --webpilot-theme-content-background-color: #fff;
  --webpilot-theme-baseline-text: #292929;
  --webpilot-theme-main-background-shadow: rgb(149 157 165 / 20%);

  /* only text link or title need to change */
  --webpilot-theme-brand-primary: #4f5aff;
  --webpilot-theme-stoke-and-hover-status: #dbdeff;
  --webpilot-theme-brightness-number: 1;
  --webpilot-theme-invert-number: 0;
}
#webpilot-template {
  @import './solarized_light.scss';
}
#webpilot-content {
  p {
    margin: 0;
    line-height: 1.6;
  }
  pre {
    padding: 0;
  }
  code {
    font-size: 14px;
    padding: 1 5px;
    background: #fdf6e3;
    color: #657b83;
    border-radius: 6px;
    box-shadow: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --webpilot-theme-main-text-color: #fff;
    --webpilot-theme-icon-default-and-secondary-text: #4f5aff33;
    --webpilot-theme-main-background-color: #292d3f;
    --webpilot-theme-content-background-color: #323558;
    --webpilot-theme-baseline-text: #fff;
    --webpilot-theme-main-background-shadow: rgb(84 132 181 / 20%);

    // --webpilot-theme-brand-primary: #5e80ff;
    --webpilot-theme-brand-primary: #fff;
    --webpilot-theme-stoke-and-hover-status: #585c8a;
    --webpilot-theme-brightness-number: 3;
    --webpilot-theme-invert-number: 1;
  }
  #webpilot-content {
    p {
    color: #dcdcdc;
    }
    li {
      color: #dcdcdc;
    }
    code {
      background: #002b36;
      color: #839496;
    }
  }
  #webpilot-template {
    @import './solarized_dark.scss';
  }
}
