.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
}

.title {
  color: #000;
  font-weight: 600;
  font-size: 36px;
}

.settings {
  width: 24px;
  height: 24px;
  cursor: pointer;

  &:hover * {
    fill: #000;
  }
}

.back {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
