.plasmo-csui-container {
  right: 0;
  left: unset;
}

.container {
  border-radius: 10px;
  position: fixed !important;
  top: 80px;
  z-index: 99999999999;
  overflow: hidden;
  box-shadow: 0 2px 6px rgb(0 0 0 / 30%);
  transition: all 0.2s linear;

  &::-webkit-scrollbar{
    display: none;
  }

  &.entry{
    width: 360px;
    top:4px;
    right: 25px;
  }
}

.container-visible {
  right: 0;
  opacity: 1;
  width: 450px;
}

.iframe {
  width: 100%;
  overflow: hidden;
  border: none;
  background-color: white;
  transition: all 0.3s;
}

.floating-logo-container {
  position: fixed;
  top: 200px;
  left: 200px;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
  cursor: pointer;
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }
}

.floating-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
