.plasmo-csui-container {
  right: 0;
  left: unset;
}

.container {
  position: fixed !important;
  top: 80px;
  z-index: 99999999999;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 30%);

  &::-webkit-scrollbar {
    display: none;
  }

  &.entry {
    top: 4px;
    right: 25px;
    width: 360px;
  }
}

.container-visible {
  right: 0;
  width: 432px;
  opacity: 1;
}

.drag-handle {
  position: absolute;
  top: 0;
  left: 50px;
  width: 66%;
  height: 40px;
  cursor: move;
  opacity: 0.8;
}

.iframe {
  width: 100%;
  overflow: hidden;
  background-color: white;
  border: none;
  transition: all 0.3s;
}

.floating-logo-container {
  position: fixed;
  top: 200px;
  left: 200px;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
  cursor: pointer;
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }
}

.floating-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
